.cart {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;

    &-img {
        background-position: center;
        padding-top: 150%;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 10px;
    }

    &-product-name {
        font-weight: 700;
        font-size: .9rem;
        max-width: 85%;
        display: block;
        line-height: 20px;
    }

    &-color-size {
        font-size: .8rem;
        line-height: 20px;
    }

    &-item-quantity {
        position: absolute;
        height: 18px;
        width: 18px;
        border-radius: 999px;
        background-color: #433e3e;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        top: 4px;
        right: 4px;
    }

    &-price {
        font-size: 1.1rem;
        display: inline-block;
        margin-top: 0.5rem;
        line-height: 20px;
    }

    &-quantity {
        font-size: .8rem;
        margin-left: 10px;
        line-height: 20px;
    }
}