.header-container {
    align-items: center;
    line-height: 24px;
    padding: 0px 15px !important;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(217, 217, 217);

    .header-logo {
        width: 150px;
        margin: auto;

        img {
            object-fit: cover;
            height: 48px;
        }
    }

    .header-link {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &--wrapper {
            display: flex;
            align-items: center;
        }

        &__item {
            text-decoration: none;
            color: #000;
            align-items: center;
            line-height: 24px;
            padding: 12px 15px;
            text-align: left;
            position: relative;
        }

        &__item::after {
            background: var(--primary-color);
            bottom: calc(1.25rem - 5px);
            content: "";
            height: 3px;
            left: 1rem;
            position: absolute;
            width: 0;
            transition: width .2s ease-in-out;
            bottom: -1px;
        }

        &__item:hover:after {
            width: calc(100% - 30px);
        }

        &__item:hover {
            color: var(--primary-color);
        }

    }

    .header-icon {
        width: 160px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        line-height: 48px;
        text-align: center;
    }

}

.cart-wrapper {
    position: absolute;
    width: 400px;
    max-height: 650px;
    padding: 16px 16px 0 16px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .06666666666666667);
    border: 1px solid #d9d9d9;
    top: 60px;
    right: -4px;
    z-index: 99;
    display: none;
}

.cart-icon::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 200px;
    background-color: transparent;
    bottom: -22px;
    right: -4px;
}

.cart-icon:hover .cart-wrapper {
    display: block;
}